[2017-06-12 16:36] dauwhe opened #2 "Who is responsible for a publication's user interface?"
The web is a free-for-all, with design and interaction nearly entirely controlled by the site author.

But ebook reading systems typically control how the user interacts with a publication, and sometimes even change the appearance of publication content.

Will web publications need to provide their own user interface? Will they need to be designed to support both paradigms? What might this mean?

[2017-06-12 16:48] iherman commented on #2
My first reaction is: we should not control that.

On the Web, there is a dual responsibility for the interaction: the content and the Web Browser. People change from one browser to the other for different reasons, but the way one interacts with the Web is surely part of those. Why would a Web Publication be different?

[2017-06-26 22:17] dauwhe opened #10 "How do we identify a web publication and its components?"
Perhaps the simplest possible answer to these questions is just a URL: ```https://www.example.com/MobyDick/``` would both identify the publication and mean that everything whose URL starts with this is part of the publication.

So I guess that I’m looking for reasons to make this more complicated :)

[2017-06-26 22:25] GarthConboy commented on #10
I think we'll need to point to the "manifest" -- we'll need to be able to download or package the entire publication and its constituent resources (given Brady's correct observation that with scripting scanning the markup can reliably determine what's really referenced).  Also need to know what markup file should initially displayed and how to progress from there.

If your URL is a "directory root

[2017-06-26 22:55] dauwhe commented on #10
This reminds me of a concern about progressive enhancement. Say I point my browser at ```https://www.example.com/MobyDick/``` but JS is disabled or the user agent doesn't yet support web publications. What should happen?

One option would be to give the first document you want displayed a special name, say, ```index.html```. This file could also point to the manifest, or include it directly.

[2017-06-26 22:56] mattgarrish commented on #10
The case usually given for complexity is open textbooks and course packs, where content is aggregated from different locations without having to actually amass the resources under a single domain/directory.

Does "everything" here only refer to html pages? How realistic is it that all the resources are going to be neatly stored together? What if my css is two levels higher up from the publication

[2017-06-26 23:42] dauwhe commented on #10
Do we need to design something that will support content documents ("spine items" in EPUB-speak) hosted on multiple origins?

[code]

[2017-06-27 00:18] dauwhe commented on #10
So the URL of the WP would point to the “manifest” rather than a directory? This would then imply (I believe) that the manifest be discoverable from some sort of file. So what sort of file? I would argue that pointing to HTML would be better than the alternatives, given all user agents know what to do with HTML files. But that leaves open the question of whether this HTML file contains the manifes

[2017-06-27 01:20] mattgarrish commented on #2
But how does the browser know whether it is in charge of the web publication or a reading system application running within it? Can they both simultaneously offer to take the publication offline?

What if the publisher only wants the publication served out of their own reading application? Do we need to consider an instruction to the browser to ignore?

[2017-06-27 01:40] mattgarrish commented on #10
We need to consider it, at least. Intertwined with what I mentioned above is the problem of iframes and bringing in entire chunks of content below the level of the spine. We need to be open to how the web works and not just publications as we're used to making them.

The problem doesn't seem confined to content documents but affects their constituent resources, as well, so we need some solution.

[2017-06-27 02:43] GarthConboy commented on #2
Well, as a Reading System guy, I'm with Ivan.  We should not go here.

[2017-06-27 02:47] GarthConboy commented on #10
"I would argue that pointing to HTML would be better than the alternatives, given all user agents know what to do with HTML files. But that leaves open the question of whether this HTML file contains the manifest, or just points to the manifest." -- interesting.  As long as the manifest was discoverable in a known location, I guess that would okay -- I think a browser might be interested in a firs

[2017-06-27 07:02] iherman commented on #2
@mattgarrish :

On the Web I do not think it is really acceptable for a publisher to stuck to its own application. This would be equivalent to the old notice "This site is best viewed on Internet Explorer"; we all hated that. I do not think this is something that we should consider.

[2017-06-27 07:27] iherman commented on #10
@dauwhe

This is already how the Web works. We routinely use URLs to a directory, and it is up to the server setup on what this means in practice. It can return the `index.html` file in that directory, if available; in Apache one can actually set up a whole priority list of alternatives. Although not frequent, it can also return, as a first order `index.svg` (that _may_ be useful for some document

[2017-06-27 07:29] iherman commented on #10
I think the `scope` notion of the Web App Manifest is interesting here. If we want to include content document from different "origins", then we _may_ use a `scope` listing several documents. Although, for different reasons, I may be tempted to say that all directories listed in the `scope` should be on the same domain.

[2017-06-27 11:28] mattgarrish commented on #2
I'm not really concerned about interfaces so much as wondering about what is expected to happen when both the browser and an application running within it see a publication they believe is intended for them. Do you get two offers to take the content offline, and is that an ugly paradigm or just the way the world will work? The more choice the better? I have no religion on this, only wondering what

[2017-06-27 13:08] dauwhe commented on #2
I think our goal has to be progressive enhancement. The proverbial vanilla browser should be able to open and read a web publication. But a reading environment that can understand and act on metadata saying "this is a web publication" can provide a much richer experience.

There could be three sources of richer reading experiences—the web publication itself, via JS, a reading system, or new browse

[2017-06-27 14:33] dauwhe opened #12 "Information content of the abstract manifest"
What information is required for an abstract manifest? [edited to add items from comments]

1. An identifier for the web publication, which should be a URL
2. Some way of saying that this URL represents a web publication.
3. Some way of identifying the constituent resources of the web publication.
4. Some way of providing a preferred order of (some of) the constituent resources in case there is mo

[2017-06-27 14:56] GarthConboy commented on #12
I'd also throw in:

-- Reading order
-- Basic metadata (yes, a can of worms we'll need to open)

Re the #1 and #2 just above in Dave's original issue, it seems they may want to be pre-manifest -- defined before the manifest is found, or be the actual path to the manifest (or to a "first file" that can be rendered, but also somehow points to the manifest).

[2017-06-27 14:56] iherman commented on #12
4. Some way of providing a preferred order of (some of) the constituent resources in case there is more than one
5. Some way of being able to add more complex metadata to a publication. (Not clear to my mind whether we would define a minimally required set of metadata, but the slot should be there.)

[2017-06-27 14:56] iherman commented on #12
(Wow. I just said the same thing as Garth just in other words. I swear we did not conspire...)

[2017-06-27 15:54] mattgarrish commented on #12
What is meant by required here? Must always be present or must be accounted for in the design? This is why I wasn't sure at the f2f if navigation constituted a top-level or lower-level consideration.

A standardized means of locating the table of contents seems critical to me, even if it's optional to define and there are no epub-like rules on its construction.

[2017-06-27 17:12] dauwhe opened #13 "Document Collection Interface"
Our [White Paper](http://w3c.github.io/dpub-pwp/#web-publication-apis) talks about the need for an interface and API for a collection of web resources. So really all we have to do is figure this out:

[code]

Perhaps something like this, more than anything else we are discussing, is what it means for publications to be a first-class citizen of the web.

[2017-06-27 18:00] dauwhe opened #14 "Navigating a web publication"
Readers need to easily navigate through web publications. Such navigation could be complicated by the reality that many web publications consist of many resources, likely in a defined order. EPUB reading systems typically provide UI to access a (required) table of contents from anywhere in the publication, and further provide simple UI gestures to move from document to document.

Should web public

[2017-06-27 18:17] GarthConboy commented on #13
Though it is worth noting that we purposefully removed a reference to such APIs from our charter during drafting in an effort to trim our scope.  Doesn't mean we can't expand to such APIs (Collection API, Publication object model), but it doesn't seem a required deliverable.

[2017-06-27 22:13] baldurbjarnason commented on #10
The scope notion would play nicely with the proposed packaging spec which IIRC relies on it quite a bit.

Outlining how identification for web publications would work if it followed the expectations set by the rest of the web stack (e.g. web app manifests, atom/rss feeds, etc.):

1. Each HTML page that is a part of a publication links (with a specified link relation) to a manifest document of some

[2017-06-28 01:13] baldurbjarnason commented on #13
My preference would be to punt any talk about such an API down the road, largely because if we let it wait a bit, the odds of us being able to do an API like that well increase dramatically.

Once you have a JSON-based manifest (or any sort of manifest JS in the browser can parse) then we can start experimenting with writing JS libraries that offer such an API. And if those work, then we can use t

[2017-06-28 09:48] iherman commented on #14
Probably not _require_: we do not want to complicate life for those who want to publish a single HTML document with all the surrounding goodies as Web Publication (e.g., journal article).

Having an optional navigation document (more or less like EPUB3.1 has with the `<nav>` element sounds like a good idea, although I do not believe there is any standard browser behaviour to handle that (alas!).

[2017-06-28 11:54] mattgarrish commented on #14
Agree with not requiring at the web publication level. We can leave that and any continued structuring requirements for epub to define.

A single-page document could identify itself as the source of the toc if it's structured and has one, but I expect there will be plenty of documents with no specific outline or only a single heading.

Recommending identification with role=doc-toc on the nav might

[2017-06-28 12:49] dauwhe commented on #14
The single-HTML-document case is interesting, as it also avoids questions of reading order. So I can see making ```nav``` optional in that case. But what if there are multiple content documents? Should ```nav``` still be required? Is there an alternative that would be easy to author and useful to humans?

[2017-06-28 14:03] TzviyaSiegman commented on #14
We may want to consider different approaches for single document WPs and multi-document WPs, as @dauwhe notes. We might consider the headaches that have forced reconsideration of the HTML outline algorithm and all the work that goes into ARIA landmarks before assuming that a single HTML document does not require a TOC.
Most scholarly journal reading platforms provide navigation on the platform. Th

[2017-06-28 14:09] iherman commented on #14
The interesting point of that example is that there is some sort of a hierarchy here. A full journal (issue) may be considered as a WP, and that means the need for a TOC. But a single journal article is also a WP: as a reader, I am interested in only one article, but I want to see it offline, too, meaning it is also a WP in isolation.

That also means that the association of a manifest (or whateve

[2017-06-28 16:02] GarthConboy commented on #12
The updated #6 in the first panel says "Locating table of contents or other navigation structure", we should also consider:

-- Do we need such a Nav file (likely yes for A11Y)
-- Should it be in the Manifest or pointed-to by the Manifest (I could see an argument for all eggs in one basket -- though the machine readable or renderable discussion will arise)

[2017-06-28 16:35] dauwhe commented on #12
See #14

Interesting question. I know Hadrien has proposed including section titles in a JSON manifest, but I have major concerns about possible reader-facing text in JSON (especially given that there's a standard html way to do this stuff).

[2017-07-02 20:09] HadrienGardeur commented on #10
What you're describing is almost exactly what we do in Readium-2 @baldurbjarnason, there are only minor differences or observations that I need to add.

Ideally yes, but what if a resource is included in multiple Web Publications ? What if you can't change the HTML or HTTP headers for that resource ? IMO, such a link to a publication is an important part of how discovery is handled, but it's not a

[2017-07-02 20:16] HadrienGardeur commented on #14
I strongly believe that Web Publications should not require anything other than a manifest. Linking to that manifest, shouldn't even be a requirement.

In the case of a single-resource Web Publication, the manifest can be inlined using a script element (like in AMP).

For larger Web Publications, some of the constituent resources can point to an external manifest (identified by its own URI) using

[2017-07-02 20:27] HadrienGardeur commented on #12
IMO the Navigation Document in EPUB 3 is a failed experiment. Most EPUB 3 documents that I've seen end up including at least two HTML table of contents:

- a nice looking one, included in the `spine` and not marked as being a Navigation Document
- a basic one, used as the Navigation Document

Most EPUB 3 reading systems do not render these Navigation Documents either, they simply parse them, extra

[2017-07-02 20:35] HadrienGardeur commented on #12
To go back to the initial question, in Readium we separate clearly the abstract model with the minimal requirements for a manifest.

The abstract model has three core concepts:

- metadata (based on JSON-LD)
- links
- collections (identified by a role, can aggregate metadata, links and other collections)

For each core concept, we make sure that:

- the requirements are very basic
- the model is f

[2017-07-02 22:49] HadrienGardeur commented on #2
I strongly believe that we shouldn't control that, and for technical reasons anyway, we'll be unable to do anything about it.

EPUB reading systems tend to modify the content to provide a user interface:

- by injecting JS and/or CSS in the publication
- or even by completely changing the document itself

This is mostly done to support pagination, but also to control how content is rendered.

On t

[2017-07-03 10:57] lrosenthol commented on #2
@HadrienGardeur why couldn't the publication itself carry its own UI?   If it had a very specific way of pagination or navigation, then it should be able to apply those either instead of or (as @dauwhe says) addition to that provided by the UA.

We need to support both.

[2017-07-03 11:06] HadrienGardeur commented on #2
@lrosenthol I don't think I said anything specifically against that in my previous comment.

That said, the UI might clash with some specific UA, mostly in PWP/EPUB4 land.

To minimize these situations there are various options available:

- we could adopt guidelines or restrictions (subset of HTML/CSS/JS) like AMP
- or we could treat it as a progressive enhancement like @dauwhe has suggested

Bot

[2017-07-03 11:09] lrosenthol commented on #2
Why would it be complex to deploy?   Consider the simple case (and I am not
suggesting this is the right answer) that we had a metadata flag that said
"Doing my own UI" that a (P)WP could set to tell the UA to let it do its
own thing..which is exactly what we have today with web pages. Seems really
easy for the UA and no big deal for the publisher.

Any ideas of forcing a UA to include (P)WP-speci

[2017-07-03 11:12] HadrienGardeur commented on #2
Defining the metadata flag is the easy part.

Clearly defining who has control over what, and being able to deactivate some of it is much more difficult.

[2017-07-03 11:16] lrosenthol commented on #2
And I think there is lies the difference in our thinking.

I think we should start with the web model and assume that all publication
have to provide their own UX. (and yes, I did hear George at the F2F and
understand why this is a problem for accessibility - but it's no different
than faced today when navigating the web in general).

The idea that a UA would natively integrate certain/some/all UX

[2017-07-03 12:09] HadrienGardeur commented on #2
@lrosenthol I expect most Web native publications to have their own navigation (which might not be accessible), but certainly not the other features that are common in specialized UA today such as:

- pagination
- night mode
- specific style overrides

[2017-07-03 12:24] llemeurfr commented on #2
I see different use cases and solutions, to be studied:
1) A __Web Publication__ (i.e. content, no UI) can be handled by both:
1.a) a WP-savy browser (Edge today, for EPUB3), which acts as a reading system;
1.b) a reading system "plugged" into the browser like a plyfill (à la Readium Chrome Extension)
2) A __Web Application__ groups together a Web Publication *and* the specific UX that is associat

[2017-07-03 12:43] llemeurfr commented on #12
Better, an IRI because a) may be a urn (up to the publisher to choose, the Web doesn't care) and b) i18n is important. A URL to the origin is also important but should be another property.

[2017-07-03 12:58] llemeurfr commented on #10
So, to come back to the initial question, Readium-2 folks propose:
- an IRI as globally unique identifier for the publication, included in the manifest as one of the few mandatory metadata.
- a URL linking back the manifest to its origin.

[2017-07-03 13:25] HadrienGardeur commented on #2
IMO a Web Publication should simply work in a browser. Using a new version of a browser or any plugin/polyfill shouldn't be a requirement.

They should enhance the experience, which is very different from being required.

[2017-07-03 14:36] WSchindler commented on #14
In my understanding, the fundamental difference between a manifest and a navigation document is that the **manifest** _defines the different kinds of resources_ that make up a WP - content docs, images, audio, video, css files, etc., while the **navigation document** _defines a default reading order_, _gives a quick overview over the available chunks of content and supports to easily navigate to a

[2017-07-03 14:41] HadrienGardeur commented on #14
In EPUB, the Navigation Document does not define a default reading order. The spine is responsible for that, and it would be included in the manifest.

The Navigation Document is responsible for providing alternate ways that the content can be browsed/navigated using a number of lists (table of contents, list of illustrations, page list...)

[2017-07-03 14:47] WSchindler commented on #12
I would like to add:
7. **language(s) used in the WP** - the plural is due to the fact that we will have publications such as parallel texts (original + one or more translations), bilingual dictionaries which contain 1-n languages . The language used has also implications for rendering (e.g. "ltr" vs "rtl", vertical layout)

[2017-07-03 14:50] HadrienGardeur commented on #12
Language and direction (ltr vs rtl) should be two separate metadata. Agree that we need to allow more than one language.

[2017-07-03 15:00] WSchindler commented on #14
@HadrienGardeur: would not the Navigation Document give more flexibility in accessing/navigating the contents by offering additional approaches or do you see that sufficiently covered by the spine?

[2017-07-03 15:07] HadrienGardeur commented on #14
@WSchindler they serve a different purpose, but my point is that the Navigation Document (or its equivalent) shouldn't be a requirement and that there's no reason why we couldn't express all of this in a single manifest (that's already how we handle it in Readium-2, and it's much more consistent and easier to work with for developers).

[2017-07-03 21:43] dauwhe commented on #14
What happens when a user navigates to a component of a web publication that doesn't include a link to a manifest (in whatever form)? Are you proposing an alternate way of identifying that the component is part of a web publication?

[2017-07-03 22:02] lrosenthol commented on #14
IMO - If there is no manifest, then it's "stand-alone" (aka a single "page"
publication)

@HadrienGardeur <https://github.com/hadriengardeur>: Yes, we could put
everything into a single manifest - but that will have huge performance
implications as the size of the publication grows.  While most books aren't
that large - consider reference works (eg. dictionaries).  Or forget about
books and think

[2017-07-03 22:05] lrosenthol commented on #12
If we plan to use anything other than a URL (as defined by the HTML spec -
https://www.w3.org/TR/WD-html40-970917/htmlweb.html), then we are going to
need to be willing to jump into the current battle between the W3C and the
IETF on the definition of URL/URI/IRI etc.  Here is an old blog entry about
it - http://intertwingly.net/blog/2014/10/02/WHATWG-URL-vs-IETF-URI

On Mon, Jul 3, 2017 at 8:43 AM

[2017-07-03 22:07] lrosenthol commented on #2
@HadrienGardeur: That's fine - we can agree to disagree for now on what
will (or won't) be in a WP.  I expect that the authors of such publications
combined with the positions of the UAs will end up providing the actual
answer.

On Mon, Jul 3, 2017 at 8:09 AM, Hadrien Gardeur <notifications@github.com>
wrote:

[2017-07-03 22:27] HadrienGardeur commented on #14
@dauwhe what's the context? Have you already "discovered" the publication before? If so, I don't see any problem at all. Otherwise, it just means that you won't be able to discover the publication, which is also fine.

@lrosenthol I'm not saying that we should always cram everything in a single manifest. For the current Readium-2 use case where we ingest EPUB, it works fine and is far more consist

[2017-07-03 22:37] HadrienGardeur commented on #2
@lrosenthol I agree. To be perfectly clear, I'm not saying that we should forbid resources from a Web Publication to do anything listed above. I simply expect WP UAs to behave like browsers today:

- provide very basic navigation by default (switch between resources, use various kinds of tables of contents) without any pagination injected by the UA
- offer as an alternative to paginate the content

[2017-07-05 10:22] llemeurfr commented on #12
Re. URL vs IRI, after reading https://www.w3.org/International/wiki/IRIStatus, I must admit that this seems like a can of dirty warms. Apart from trying to allow for an extended i18n of publication identifiers, there is still the question of URNs allowed or not as global identifiers. For instance, I spotted that most @HadrienGardeur's Manifest samples use isbn urns as identifiers.

[2017-07-05 12:47] HadrienGardeur commented on #12
@llemeurfr you're mixing up two different concept regarding the Readium Web Publication Manifest.

Keep in mind that we started this work in the context of BFF and that for Readium-2 we mostly ingest EPUB files.

The only requirement in the draft document for the Readium WebPub Manifest is to always provide a `self` link. In the context of a Web Publication it makes perfect sense: if a publication

[2017-07-05 13:01] dauwhe commented on #12
My only concern is that HTML already has mechanisms for describing the language(s) of content. What happens when a user agent opens an HTML page declared with language A, finds a rel=manifest link, follows it, and sees language B declared?

[2017-07-05 13:11] HadrienGardeur commented on #12
The manifest declares the language for the publication, while HTML is meant to declare the language for that resource.
The UA would simply set the default to language B but override that option with language A as it displays or interacts with that HTML page.

[2017-07-05 14:04] llemeurfr commented on #12
That's right. If a Web publication is copied to another website, this value will not be modified. Therefore a possible definition of the self link is "The original location of the Web Publication", which can be aligned with Requirement 8 for Web Publications: "There should be a way to uniquely identify a Web Publication."

[2017-07-05 14:10] HadrienGardeur commented on #12
From [RFC5988](https://tools.ietf.org/html/rfc5988):

[2017-07-05 15:36] WSchindler commented on #12
It's of course true that via `@lang` or `@xml:lang`, you may define the language(s) used in your HTML. I still think that the point of entry for a UA consuming a WP would be the manifest where it would be helpful to find an information on the languages used in the WP. If you have a Chinese-English dictionary, it is IMO no trivial task to prepare the rendering.

[2017-07-05 16:15] lrosenthol commented on #12
Actually, I would expect the UA to completely ignore the language settings
(A, in this case) in the manifest - and only concern itself with the actual
resource being processed/rendered (B, in this case).  The language (or
languages) in the manifest have no bearing on the actual content - they are
(IMO) informational only.

On Wed, Jul 5, 2017 at 9:11 AM, Hadrien Gardeur <notifications@github.com>

[2017-07-05 16:16] lrosenthol commented on #12
That's not necessary true.  The new site may well change the link(s) in the
manifest.  There is nothing about it that is "off limits" - certainly not
in a WP, and possibly not even in a PWP.

On Wed, Jul 5, 2017 at 10:04 AM, L. Le Meur <notifications@github.com>
wrote:

[2017-07-05 16:21] HadrienGardeur commented on #12
(IMO) informational only.

While rendering content, sure I fully agree. But a UA can provide additional services on top of it, for example dictionaries or search. The publication metadata can be useful in that regard.

[2017-07-05 16:21] mattgarrish commented on #12
I agree it's informative and must not be used for rendering content (or metadata), but the same question about value has been raised in epub revisions and the case has been made that it does have uses (e.g., pre-loading tts languages, offering access to dictionaries, etc.).

[2017-07-05 16:23] lrosenthol commented on #12
On Wed, Jul 5, 2017 at 12:21 PM, Hadrien Gardeur <notifications@github.com>
wrote:

It could indeed be useful - and whether a UA chooses to use it for that or
not is (IMO) out of scope for our work.

[2017-07-05 16:24] HadrienGardeur commented on #12
not is (IMO) out of scope for our work.

Defining the UA behavior is out of scope, but making sure that it has relevant info needed is definitely within scope.

[2017-07-05 16:51] dauwhe commented on #14
This issue was moved to w3c/wpub#2

[2017-07-05 16:51] #14 closed, assigned to nobody

[2017-07-05 16:57] dauwhe commented on #13
This issue was moved to w3c/wpub#3

[2017-07-05 16:57] #13 closed, assigned to nobody

[2017-07-05 16:58] dauwhe commented on #2
This issue was moved to w3c/wpub#4

[2017-07-05 16:58] #2 closed, assigned to nobody

[2017-07-05 17:01] dauwhe commented on #10
This issue was moved to w3c/wpub#5

[2017-07-05 17:01] #10 closed, assigned to nobody

[2017-07-05 17:03] dauwhe commented on #12
This issue was moved to w3c/wpub#6

[2017-07-05 17:03] #12 closed, assigned to nobody

[2017-08-05 04:44] iherman opened #21 "Should we use IRI, URI, or URL ?"
There is certain level of confusion in the terminology. IRI (ie, rfc3987[1]) is the most general form that encompasses all internationalization requests in IETF land. It is also the reference used in the newest RDF or the Annotation recommendations.

On the other hand, at least for _locators_, the Web community has always ignored, in practice, the term IRI or URI, and they use URL. See for example

[2017-08-05 19:16] rdeltour commented on #21
I agree; but then, is there any reason why we shouldn't just refer to WhatWG's URL spec? (real question)

[2017-08-06 04:15] iherman commented on #21
@rdeltour

The WhatWG URL spec is not final, and W3C specifications' normative references should be stable documents (with a preference to standards). I think using a similar text in the specification in the terminology section as in the [html5 spec](https://www.w3.org/TR/html5/references.html#refsURL) is a safe way to go.

[2017-08-06 15:52] rdeltour commented on #21
Well, as a living standard, I don't think it will ever be "final" :-)

W3C's HTML does reference the WhatWG spec now, see the [URL normative reference](https://www.w3.org/TR/html/references.html#biblio-url) in the latest Rec.

[2017-08-06 17:35] iherman commented on #21
Indeed, but with an explanation note of 3 paragraphs... Hence my proposal to refer to the HTML spec, and let the relevant WG describe the details...

[2017-08-15 06:57] iherman commented on #21
Closing, per [telco resolution](https://www.w3.org/publishing/groups/publ-wg/Meetings/Minutes/2017/2017-08-14-minutes#resolution3). Effects to be incorporated into documents.

[2017-08-15 06:57] #21 closed, assigned to nobody

[2017-09-18 16:01] whmccoy opened #24 "scope of "Requirements and design options for synchronized multimedia" is unclear"
The "Requirements and design options for synchronized multimedia"  doc discusses synchronizing multimedia with "content" but then mentions "book" in the next phrase. Later on it describes a requirement as pertaining to "WP/PWP".

I believe that the ideal scope of synchronized multimedia with overall content (aka text) rendering is all OWP content not just publications. I.e. if we are going to redo

[2017-09-18 17:05] iherman commented on #24
@whmccoy, this issue may have a better place on the wpub repo's issues, although it is indeed a borderline...

@TzviyaSiegman @GarthConboy ?

[2017-09-18 17:09] GarthConboy commented on #24
I come back to the comment I made in IRC... from our charter "This
specification should generally be a functional superset of EPUB 3.1.
Functional round-tripping to/from EPUB 3.1 considered highly desirable."
(albeit on the EPUB 4 deliverable)... but, as EPUB 3.1 has MO, could be in
our purview.  Question of where (if anywhere) it will get traction.

On Mon, Sep 18, 2017 at 10:05 AM, Ivan Herman <

[2017-10-03 15:51] danielweck commented on #24
And just for reference: https://github.com/w3c/publ-wg/wiki/Requirements-and-design-options-for-synchronized-multimedia

[2018-03-06 16:12] danielweck commented on #24
Note that this conversation will probably be migrated there:
https://github.com/w3c/sync-media-pub

(as mentioned here: http://lists.w3.org/Archives/Public/public-sync-media-pub/2018Mar/0000.html )

Also see:
https://www.w3.org/community/sync-media-pub/

[2018-03-06 16:43] iherman commented on #24
@danielweck: once the migration is done, would you close this issue? Thanks.

[2018-03-06 16:44] danielweck commented on #24
Sure.

[2018-03-15 08:53] iherman opened #26 "Track AMP related activity and specs"
_(This issue was originally raised by @BigBlueHat on the [wpub issue list](https://github.com/w3c/wpub/issues/166), but moved to this repository as part of the more "general" issues.)_

AMP is the progenitor of the Web Packaging spec we are being encouraged to consider for PWP. It is also the source of several other specifications that may be of value to our work, and (consequently) we should be i

[2018-03-15 09:27] iherman opened #27 "Google proposed Find in Page API under review by the TAG"
_(This issue was originally raised by @BigBlueHat on the [wpub issue list](https://github.com/w3c/wpub/issues/165), but moved to this repository as part of the more "general" issues.)_

Review has been requested of the TAG for an API to allow Web apps to provide custom UX in place of the browsers text finding functionality: https://github.com/w3ctag/design-reviews/issues/236

It proposes some even

[2018-03-30 16:06] danielweck commented on #24
Let's close this, see: https://github.com/w3c/sync-media-pub/issues/1

[2018-03-30 16:06] danielweck commented on #24
@iherman I do not have the rights to close this issue, please do :)

[2018-03-30 16:12] #24 closed, assigned to nobody

[2019-05-08 13:40] iherman opened #33 "2019-05-06-action5: obtain manifest integrating with CORS explanation - there is an open issue for resolution as well (Dave Cramer)"
obtain manifest integrating with CORS explanation - there is an open issue for resolution as well (Dave Cramer) ([see details](https://www.w3.org/publishing/groups/publ-wg/Meetings/Minutes/2019/2019-05-06-pwg#action5))

Cc: @dauwhe

[2019-05-08 13:40] iherman opened #34 "2019-05-06-action9: find a home for the Synchronized Narration spec (Wendy Reid)"
find a home for the Synchronized Narration spec (Wendy Reid) ([see details](https://www.w3.org/publishing/groups/publ-wg/Meetings/Minutes/2019/2019-05-06-pwg#action9))

Cc: @wareid

[2019-05-08 13:40] iherman opened #35 "2019-05-06-action12: write a proposal to the WPUB on changes (Jeremy Morse)"
write a proposal to the WPUB on changes (Jeremy Morse) ([see details](https://www.w3.org/publishing/groups/publ-wg/Meetings/Minutes/2019/2019-05-06-pwg#action12))

Cc: @undefined

[2019-05-08 13:40] iherman opened #36 "2019-05-06-action2: talk to david about Localizable strings (Ivan Herman)"
talk to david about Localizable strings (Ivan Herman) ([see details](https://www.w3.org/publishing/groups/publ-wg/Meetings/Minutes/2019/2019-05-06-pwg#action2))

Cc: @iherman

[2019-05-08 13:40] iherman opened #37 "2019-05-06-action7: talk to Tess on the audio explainer issues (Wendy Reid)"
talk to Tess on the audio explainer issues (Wendy Reid) ([see details](https://www.w3.org/publishing/groups/publ-wg/Meetings/Minutes/2019/2019-05-06-pwg#action7))

Cc: @wareid

[2019-05-08 13:40] iherman opened #38 "2019-05-06-action1: talk to david about WebIDL (Ivan Herman)"
talk to david about WebIDL (Ivan Herman) ([see details](https://www.w3.org/publishing/groups/publ-wg/Meetings/Minutes/2019/2019-05-06-pwg#action1))

Cc: @iherman

[2019-05-08 13:40] iherman opened #39 "2019-05-06-action6: better explain the packaging options we rejected and why (Wendy Reid)"
better explain the packaging options we rejected and why (Wendy Reid) ([see details](https://www.w3.org/publishing/groups/publ-wg/Meetings/Minutes/2019/2019-05-06-pwg#action6))

Cc: @wareid

[2019-05-08 13:40] iherman opened #40 "2019-05-06-action4: report back to dbaron that link rel value issue is resolved (Matt Garrish)"
report back to dbaron that link rel value issue is resolved (Matt Garrish) ([see details](https://www.w3.org/publishing/groups/publ-wg/Meetings/Minutes/2019/2019-05-06-pwg#action4))

Cc: @mattgarrish

[2019-05-08 13:40] iherman opened #41 "2019-05-06-action3: edit explainer about WAM (Tzviya Siegman)"
edit explainer about WAM (Tzviya Siegman) ([see details](https://www.w3.org/publishing/groups/publ-wg/Meetings/Minutes/2019/2019-05-06-pwg#action3))

Cc: @TzviyaSiegman

[2019-05-08 13:40] iherman opened #42 "2019-05-06-action11: create PR for bespoke previews in WP (Garth Conboy)"
create PR for bespoke previews in WP (Garth Conboy) ([see details](https://www.w3.org/publishing/groups/publ-wg/Meetings/Minutes/2019/2019-05-06-pwg#action11))

Cc: @GarthConboy

[2019-05-08 13:40] iherman opened #43 "2019-05-06-action10: complete the drafts of explainers and specs (Marisa DeMeglio)"
complete the drafts of explainers and specs (Marisa DeMeglio) ([see details](https://www.w3.org/publishing/groups/publ-wg/Meetings/Minutes/2019/2019-05-06-pwg#action10))

Cc: @marisademeglio

[2019-05-08 13:40] iherman opened #44 "2019-05-06-action8: ask PinG if someone can walk us through the questionnaire because we are without an expert (Ralph Swick)"
ask PinG if someone can walk us through the questionnaire because we are without an expert (Ralph Swick) ([see details](https://www.w3.org/publishing/groups/publ-wg/Meetings/Minutes/2019/2019-05-06-pwg#action8))

Cc: @swickr

[2019-05-08 13:40] iherman opened #45 "2019-05-06-action13: set up discussions with Karen, Jeremy, Maurice on an archival CG (Ivan Herman)"
set up discussions with Karen, Jeremy, Maurice on an archival CG (Ivan Herman) ([see details](https://www.w3.org/publishing/groups/publ-wg/Meetings/Minutes/2019/2019-05-06-pwg#action13))

Cc: @iherman

[2019-05-08 13:41] iherman opened #46 "2019-05-07-action1: produce a gap analysis of the ucr items vs. existing web concepts (Franco Alvarado)"
produce a gap analysis of the ucr items vs. existing web concepts (Franco Alvarado) ([see details](https://www.w3.org/publishing/groups/publ-wg/Meetings/Minutes/2019/2019-05-07-pwg#action1))

Cc: @francofaa

[2019-05-08 13:41] iherman opened #47 "2019-05-07-action3: review "AudioObject" schema and explore what feedback is required for schema (Wendy Reid)"
review "AudioObject" schema and explore what feedback is required for schema (Wendy Reid) ([see details](https://www.w3.org/publishing/groups/publ-wg/Meetings/Minutes/2019/2019-05-07-pwg#action3))

Cc: @wareid

[2019-05-08 13:41] iherman opened #48 "2019-05-07-action2: file issue about publication addresses being required to end in `/` (Benjamin Young)"
file issue about publication addresses being required to end in `/` (Benjamin Young) ([see details](https://www.w3.org/publishing/groups/publ-wg/Meetings/Minutes/2019/2019-05-07-pwg#action2))

Cc: @bigbluehat

[2019-05-08 21:03] mattgarrish commented on #40
I've replied to the tag review issue concerning this here: https://github.com/w3ctag/design-reviews/issues/344#issuecomment-489724408

[2019-05-09 09:31] HadrienGardeur commented on #42
As indicated in the [Google Slides](https://docs.google.com/presentation/d/1NFBFWcDmLuF1VrEtMC7v9Z7JVOYrUWg6pi5eOmLFJ5U/edit), this can easily be handled using a link:

- a "bespoke preview/sample" is not part of a publication, therefore it would be handled in `links`
- we might want to look into re-using `preview` as a rel to identify them and if it's too much of a stretch we can either register

[2019-05-09 20:15] iherman commented on #38
See https://github.com/w3ctag/design-reviews/issues/344#issuecomment-491025385

[2019-05-09 20:17] iherman commented on #36
See https://github.com/w3ctag/design-reviews/issues/344#issuecomment-491021519 and https://github.com/w3c/wpub/pull/439

[2019-05-21 14:26] iherman commented on #36
https://github.com/w3c/wpub/pull/439 has been closed, closing this action

[2019-05-21 14:26] #36 closed, assigned to iherman

[2019-05-21 18:15] dauwhe commented on #33
So... just to start collecting information in this issue. [dbaron wrote](https://github.com/w3ctag/design-reviews/issues/344#issuecomment-485034489):

Later he [wrote](https://github.com/w3ctag/design-reviews/issues/344#issuecomment-494433511)

I can safely say that I do not have more expertise on CORS than dbaron.

[2019-05-21 18:21] dauwhe commented on #33
I will note that the web app manifest spec has a section on CSP, which mostly says

In turn, CSP has directives that are explicitly about [manifests](https://www.w3.org/TR/CSP3/#directive-manifest-src):

[code]

Once again, our choice to avoid WAM brings us a world of complication. I'm pretty sure we will never get CSP to add a new type of manifest. Can we just say that our manifest must follow th

[2019-05-22 07:20] iherman commented on #33
First of all, at this moment, the [CSP 3 document](https://www.w3.org/TR/CSP3/) is a draft. This means that this WG group can (and probably _MUST_) contact the  [Web Application Security Working Group](https://www.w3.org/2011/webappsec/) (probably via the mailing list referred to in the header) asking them whether a publication manifest can be included in their list. That being said, it is probabl

[2019-05-22 07:23] iherman commented on #33
B.t.w., for those who do not know this security world (which includes myself) this may be of interest to understand the problem: https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP

[2019-05-22 07:31] iherman commented on #33
There is an example in https://w3c.github.io/payment-method-manifest/#fetch-pmm for fetch related to another manifest. I wonder whether it is necessary to reproduce the similar level of details.

It bothers me to repeat these things in various specs like this. We may want to raise an issue with the TAG (as a response to their review) that it may be better to have some sort of a spec somewhere that

[2019-05-27 21:12] wareid commented on #39
Added additional information and clarity to the explainer last week. Waiting on a reply from Tess about questions of RSS/Atom.

[2019-05-27 21:12] #39 closed, assigned to wareid

[2019-05-28 07:21] iherman commented on #45
Started, waiting for last sync on timing

[2019-05-28 07:23] iherman commented on #38
Latest [editors' draft](https://w3c.github.io/wpub/#webidl) completes the action

[2019-05-28 07:44] iherman commented on #44
Pinged @swickr ...

[2019-05-29 15:44] #38 closed, assigned to iherman

[2019-05-29 15:44] #40 closed, assigned to mattgarrish

[2019-05-29 15:47] iherman commented on #35
Pinged Jeremy...

[2019-05-29 18:57] samuelweiler commented on #44
Who is "us" in the case?  The WG should identify one or more stuckees who will handle this self-review.

[2019-05-29 19:32] TzviyaSiegman commented on #44
@samuelweiler We have people in the Publishing WG who can work through the privacy aspects, but the group doesn't really have any security experts. Can we borrow a member of PING to help with self review?

[2019-05-29 19:36] TzviyaSiegman commented on #43
@marisademeglio will report to PWG on 10 June

[2019-06-03 16:04] TzviyaSiegman commented on #46
@francofaa please provide an update

[2019-06-03 16:04] iherman commented on #45
Meeting took place, they will set up a CG

[2019-06-03 16:04] #45 closed, assigned to iherman

[2019-06-03 16:08] GarthConboy commented on #42
No progress yet -- but thinking about it.  The guilt may be working.

[2019-06-03 19:57] francofaa commented on #46
@atyposh is going through the requirements currently after I performed an initial overview of potential redundant candidates.

[2019-06-03 20:49] GarthConboy commented on #42
Brady and I are thinking about:

[code]

Per RFC 1603 section 3 ("preview") this seems exactly what we want -- for samples of either "real" WPs or the audiobook "profile" -- can be local or remote, markup or audio, etc. etc.

[2019-06-12 12:05] GarthConboy commented on #42
Resolved with: https://github.com/w3c/wpub/pull/457#pullrequestreview-248265248

[2019-06-12 12:05] #42 closed, assigned to GarthConboy

[2019-06-17 19:07] BigBlueHat commented on #48
Sorry that took so long... My other draft got eaten in browser restarts...or something. 😕

[2019-08-05 16:46] iherman opened #50 "2019-08-05-action1: create a separate LPF repository (Ivan Herman)"
create a separate LPF repository (Ivan Herman) ([see details](https://www.w3.org/publishing/groups/publ-wg/Meetings/Minutes/2019/2019-08-05-pwg#action1))

Cc: @iherman

[2019-08-05 16:46] iherman opened #51 "2019-08-05-action2: set up a repository for pub-manifest (Ivan Herman)"
set up a repository for pub-manifest (Ivan Herman) ([see details](https://www.w3.org/publishing/groups/publ-wg/Meetings/Minutes/2019/2019-08-05-pwg#action2))

Cc: @iherman

[2019-08-06 05:59] iherman commented on #50
Done: https://github.com/w3c/lpf

[2019-08-06 05:59] #50 closed, assigned to iherman

[2019-08-06 05:59] iherman commented on #51
done: https://github.com/w3c/pub-manifest

[2019-08-06 05:59] #51 closed, assigned to iherman

[2019-09-10 07:02] iherman opened #53 "2019-09-09-action1: add an informational text on using dcterms (Matt Garrish)"
add an informational text on using dcterms (Matt Garrish) ([see details](https://www.w3.org/publishing/groups/publ-wg/Meetings/Minutes/2019/2019-09-09-pwg#action1))

Cc: @mattgarrish

[2019-09-16 21:53] iherman opened #54 "2019-09-16-action1: edit Audiobooks standard to remove line about the origin. (Wendy Reid)"
edit Audiobooks standard to remove line about the origin. (Wendy Reid) ([see details](https://www.w3.org/publishing/groups/publ-wg/Meetings/Minutes/2019/2019-09-16-pwg#action1))

Cc: @wareid

[2019-09-25 00:06] mattgarrish commented on #53
Done in https://github.com/w3c/pub-manifest/pull/59

[2019-09-25 00:06] #53 closed, assigned to mattgarrish

[2019-10-25 04:17] iherman commented on #44
Issue has become moot:

https://lists.w3.org/Archives/Group/group-publ-wg-chairs/2019Oct/0020.html

[2019-10-25 04:17] #44 closed, assigned to swickr

[2019-11-18 20:52] #54 closed, assigned to wareid

[2019-11-18 20:52] #47 closed, assigned to wareid

[2020-09-14 16:37] iherman opened #56 "2020-09-14-action1: add note to audiobooks (Wendy Reid)"
add note to audiobooks (Wendy Reid) ([see details](https://www.w3.org/publishing/groups/publ-wg/Meetings/Minutes/2020/2020-09-14-pwg#action1))

Cc: @wareid

[2020-09-14 17:00] iherman commented on #56
See https://github.com/w3c/publ-wg/issues/56

[2020-09-14 17:01] #27 closed, assigned to nobody

[2020-09-14 17:04] #34 closed, assigned to wareid

[2020-09-14 17:04] #37 closed, assigned to wareid

[2020-09-14 17:06] #56 closed, assigned to wareid

[2020-09-14 17:55] iherman commented on #35
Overtaken by events. Closing.

[2020-09-14 17:55] #35 closed, assigned to nobody

[2020-09-14 17:57] iherman commented on #33
With the move to audiobooks this issue is becoming moot. Closing.

[2020-09-14 17:57] #33 closed, assigned to dauwhe

[2020-09-14 17:58] iherman commented on #48
With audiobooks this issue has become moot.

[2020-09-14 17:58] #48 closed, assigned to BigBlueHat

[2020-09-14 17:59] iherman commented on #46
With audiobooks this issue has become moot.

[2020-09-14 17:59] #46 closed, assigned to francofaa

[2020-09-14 17:59] iherman commented on #41
With audiobooks this issue has become moot.

[2020-09-14 18:00] #41 closed, assigned to TzviyaSiegman

[2020-09-14 18:00] iherman commented on #43
With audiobooks this issue has become moot.

[2020-09-14 18:00] #43 closed, assigned to marisademeglio

[2020-09-15 01:04] murata2makoto commented on #34
@wareid I would be grateful if you can make clear how this issue has been addressed.

[2020-09-15 09:42] HadrienGardeur commented on #34
In the context of EPUB 3.3, I'd also like to know if this will have any impact on Media Overlay support as well.

IMO the relationship between Synchronized Narration Spec + SMIL/Media Overlay needs to be clarified.

[2020-09-15 10:35] mattgarrish commented on #34
The [synchronized media community group](https://www.w3.org/community/sync-media-pub/) has taken up this work.

See: https://w3c.github.io/sync-media-pub/synchronized-narration.html